<div class="container">

  <form [formGroup]="form" class="controle">

    <div class="led" [style.backgroundColor]="corLed"></div>
    <br><br>

    <button type="button" (click)="conectar()">
      {{ conectado ? 'Desconectar' : 'Conectar' }}
    </button>

    <br><br>

    <div class="radio-group">
      <button
        *ngFor="let modo of modos"
        type="button"
        [disabled]="form.get('modo')?.disabled"
        [class.active]="form.value.modo === modo"
        (click)="setModo(modo)">
        {{ modo | titlecase }}
      </button>
    </div>

    <br>

    <label>
      {{ form.value.modo | titlecase }}
    </label>

    <div class="numeric">
      <button type="button" (click)="decrementar()" [disabled]="temperatura <= tempMin">-</button>

      <span class="Temperatura">{{ temperatura }}</span>

      <button type="button" (click)="incrementar()">+</button>
    </div>

  </form>

  <div class="lista">
    <h3>Valores ≥ 40ºC</h3>
    <ul>
      <li *ngFor="let valor of historicoAltas">{{ valor }}</li>
    </ul>
  </div>

</div>
